* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: rgb(250, 226, 174);
    line-height: 45px;
}

.container {
    width: 100%;
    gap: 10px;
    max-width: 1050px;
    display: flex;
    padding: 10px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

section {
    background: rgb(255, 255, 255);
    border-radius: 7px;
}

.toolbar {
    padding: 15px 22px 0;
    width: 200px;
}

.row {
    margin-bottom: 20px;
}

.row.options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row.options.option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option :where(span, label) {
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

.option #bs-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.option #es-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.buttons button {
    width: 70%;
    height: 40px;
    color: white;
    border: 1px;
    border-radius: 4px;
    margin-bottom: 30px;
    outline: none;
    background: #e2d573;
    cursor: pointer;
}

.buttons.save-image {
    border: 1px solid #3375c0;
    background: #3375c0;
}

.buttons.clear-canvas {
    border: 1px solid #e2d783;
    color: #e2d573;
}

.save-image:hover {
    color: #fff;
    background: #6c757d;
}

.clear-canvas:hover {
    color: #fff;
    background: #6c757d;
}

.drawing-board {
    flex: 1;
    overflow: hidden;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawing-board canvas {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #333;
    width: 100%;
    height: 100%;
}
