*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1 {
    background: #8181d5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background:rgb(250, 226, 174);
      line-height: 45px;
}
.container {
    width: 100%;
    gap: 10px;
    max-width: 1050px;
    display: flex;
    padding:10px;

}
ul{
    list-style: none;
    margin-bottom: 20px;
}
section {
    background:rgb(255, 255, 255);
    border-radius: 7px;
}
.toolbar {
    padding: 15px 22px 0;
    width: 200px;
}
.toolbar.row{
margin-bottom: 20px;
}
 .row.options{
list-style: none;
margin: 10px 0 0 5px;
 }
 .row.options.option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
 }
 .option:is(:hover, .active) :where(span, label){
    color: #4A98F7;
  }
.option :where(span, label){
color: black;
cursor: pointer;
padding-left: 10px;
}

.option #bs-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
  }
  .option #es-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
  }
.buttons{
    padding-left: 50%;
  padding-right: 50%;
}
.buttons button {
    width: 70%;
    height: 40px;
    color: white;
    border: 1px;
    border-radius: 4px;
    margin-bottom: 30px;
    outline: none;
    background:#e2d573;
    cursor:pointer;
}
.buttons.save-image{
    border:1px solid  #3375c0;
    background:#3375c0;
}

.buttons.clear-canvas{
    border:1px solid  #e2d783;
    color:#e2d573
    
}
.save-image:hover{
    color: #fff;
    background: #6C757D;
  }
.clear-canvas:hover{
    color: #fff;
    background: #6C757D;
  }

.drawing-board{
    flex: 1;
    overflow: hidden;
  }
.drawing-board canvas{
    width: 100%;
    height: 100%;
  }
  
  
